# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.venv/

# Node
node_modules/
dist/

# Env
.env
*.env

# Data
*.h5
*.meta
*.mhd
*.raw
*.dcm
*.db
tmp_*.nii.gz
ai-engine/models/lung_nodule_ct_detection_hf/

# Logs
*.log
*.err
*.pid
output/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
