AI_APP_NAME=DeepLung AI Engine
AI_APP_PORT=8100
DETECTOR_PROVIDER=mock
MODEL_VERSION=baseline-mock-v1
FALLBACK_TO_MOCK_ON_ERROR=true
MONAI_BUNDLE_REPO_ID=MONAI/lung_nodule_ct_detection
MONAI_BUNDLE_DIR=./models/lung_nodule_ct_detection
MONAI_AUTO_DOWNLOAD=true
MONAI_INFER_CONFIG_RELPATH=configs/inference.json
MONAI_META_FILE_RELPATH=configs/metadata.json
MONAI_DEVICE=cpu
